# Introduction to Python and Google Colab

This type of file (.ipynb) is called markdown and combines text with code! It's great for starting out, for teaching, and for visualising data.

**To start using google colab and markdown, use the File menu to save a copy in your own drive so you can edit it! Once you have done this, answer the first question in Zoom.**

---

*Go to Zoom *

---



# Adding Chunks
The markdown contains **chunks**, each chunk can be code or text. You can add chunks using the buttons at the top.

To edit a chunk, double click it. To stop editing, click off it.

# Running Code
Code isn't run until you run the chunk. This means that the computer hasn't received what you have entered until then.

To run code chunks you can:

* Press the little circle "Play" button

* Press CTRL + Enter or CMD + Enter

* Use the Runtime menu bar



Run the code below ...

In [ ]:
1 + 1


# Errors are your friend!

 Like all languages, programming languages have grammar and vocabulary (syntax). One main cause of errors is not following these rules.

In [ ]:
show me the date and the number of samples that were collected each day

# Basic Functions

We will discuss functions in more detail but we can use lots of basic ones that are built-in to Python. To use a function we type its name and parentheses. The input inside the parentheses is called the argument.

```python3
function_name(argument)
```

In [ ]:
round(1.8945)

## Print

The "print" statement is one of the most basic functions we use in python.

In [ ]:
print("Hello World")

# Ins and Outs - Data Types
Several basic **types** of data storage:

| Type|Name|Example
| :--- |:--- |:---
| Integer|int|1, 2, 5 , 10, 21235
| Float|float|0.5, 1.2, 8.0
| Boolean|bool|True, False
| String|str|"DNA", "ATCGA"
| List|list|[1,2,3], ["A","T","C","G"]
| Dictionary|dict|{1:"A",2:"B"}

## Type

In [ ]:
# This is a string
type("Rowan Barker-Clarke")

In [ ]:
# This is an integer
type(11)

## Len

At first we will use len to give us the length of a string, but it can also be used on bigger more complex objects like lists
``` python
len("thing")
```

In [ ]:
len("How many characters in this string?")

In [ ]:
# Length of this sequence
len("TTGAACCTAGAGAGAGTCTGGGAGATATATT")

## Small Exercises

In [ ]:
# Edit this code so the type is float
type("35.1")

In [ ]:
# Edit this code so there is no error and it prints your own name!
print("My name is Rowan)

In [ ]:
# Edit this DNA sequence so that the length of the sequence is 34
len("TTGAACCTAGAGAGAGTCTGGGAGATATAGGC")

# Variables
Thankfully, we don't have to type out numbers or text any time we want to use them. We use **variables** to store information. These work like algebra.

``` python
# These are all good variable names
a = 2
b = 3.4
name = "Rowan"
```

Variable names must **not** start with a number and *cannot* have spaces in them. When you want to access a variable again, you must type it exactly! (This is a common beginner issue).

``` python
# These are all variable names that won't work and you will get errors
p value = 0.01
3b = 3.4
my name = "Rowan"
```

In [ ]:
p_value=0.01
pvalue=0.02
print(p_value)
print(pvalue)

In [ ]:
pvalue =0.001
print(pvalue)

In [ ]:
print(pval)

In [ ]:
1name = "Rowan"

It is important to know that when you run code, redefining a variable will overwrite the previous value.

In [ ]:
name = "Rowan"
print(name)
name = "Rowan Barker-Clarke"
print(name)

In [ ]:
sequence = "AGGTCGAGGAA"

# There are even sleeker ways to do this, but as an example
print("My sequence length is:")
print(len(sequence))

# Basic Math (and a warning)

Mathematical operations are easily built in to Python

| Operation|Key|
| :--- |:--- |
| Addition|+|
| Subtraction|-|
| Multiplication|*|
| Division|/|

In [ ]:
# Calculations work great with integers and floats
3*4.0

In [ ]:
# Mixing numbers and strings can give you unexpected results
3*"4"

# Logical operations

We can also compare values using *logical operators*

| Logical operator|Meaning|
| :--- |:--- |
| <|Less than|
| >|Greater than|
| <=|Less than or equal to|
| >=|Greater than or equal to|
| ==|Equal to|
| !=|Not equal to|

In [ ]:
5 < 3

In [ ]:
a = 7
b = 3

a<=b

In [ ]:
a==b

# Lists

Lists store multiple pieces of information, they don't have to be the same type.

We build a list like this:

``` python
[item1, item2, item3]
```

Python doesn't restrict the types of data

``` python
["apple", 9, "banana"]
```


``` python
codons = ["AAA","CCC","GGG"]
```

In [ ]:
# Examples of lists
sampleIDs = ["CASE001", "CASE003", "CASE004", "CASE002", "CASE005"]
tissue = ["ovary", "ovary", "fallopian tube", "omentum", "ovary"]

In [ ]:
print(tissue)


# Indexing
Items in a list have positions we call their **index**:


``` python
mylist = [23,44,10]
print(mylist[0]) # This would print the FIRST number (23)
```

**Important!** In python, we start counting positions from 0.

``` python
# Index
# [ 0 , 1, 2, 3, ...
shopping_list = ["apple", "jam","peas", "jello", "peanut butter","bananas","bread"]
print(shopping_list[5])
```

Answer on Zoom: What will this print?

In [ ]:
shopping_list = ["apple", "jam","peas", "jello", "peanut butter","bananas","bread"]
print(shopping_list[5])

# Counting in Strings

We can add .count(pattern) to the end of a string to count occurrences

``` python
"abcdabcdabcd".count("a")

```

In [ ]:
("abcdabcdabcdabcd").count("a")

In [ ]:
("abcdabcdabcdabcd").count("f")

In [ ]:
dna="AGTAGGATCGATTATTATATTAA"
dna.count("A")

Edit this code to find the individual counts, the gc count and the percent of the DNA content that is gc.

In [ ]:
a_count = dna.count("A")
g_count =
c_count =
t_count =

# Other string manipulation!

There are some really handy built-in tools for modifying strings in python!

| Function|Action
| :--- |:---     
|string.find('a')|	  Find the first position where 'a' occurs in the string
|string.count('s')|	  Counts how many 's' characters are in the string
|string.lower()|	  Copy of string with all characters converted to upper case
|string.upper() |	  Copy of string with all characters converted to upper case
|string.isdigit()|	  Checks if string contains only digits. Returns True or False
|string.isalpha()|	  Checks if string contains only alphabets. Returns True or False
|string.alnum()	|  Checks if the string contains alphanumeric characters only. Returns True or False
|string.strip()	|   Strips a character from both sides of the string
|string.split()	|   Splits the string into a list of substrings
|string.replace('s','t')|	   Replaces all 's' in the string with 't'
# |string.join(list)|	   Joins all members of list into a single striing object



A DNA protein is made of 2 sequences called strands. There is a "coding" strand and a "template" strand. The above sequence is the "coding" strand which is usually the only one stored in bio-informatics, since the other strand can be derived from the fact that an adenine (A) base always pairs with a thymine (T) and a cytosine (C) always pairs with a guanine (G). (For more background information, you can visit [some lectures on nucleic acids](https://www2.chemistry.msu.edu/faculty/reusch/virttxtjml/nucacids.htm))

Question
--------

When a gene is expressed, the first thing that happens is that the "template" sequence is separated from the "coding" sequence and gets associated with a messenger RNA (mRNA).  This sequence of mRNA is therefore almost the same as the "coding" sequence, except that the thymine bases (T) have been replaced by uracil bases (U).

Using one of the functions from the table, compute the equivalent mRNA sequence to the sequence in this example.

In [ ]:
coding_seq = (
    "AACCTGCTCTTTAGATTTCGAGCTTATTCTCTTCTAGCAGTTTCTTGCCACCATGTCGGAAACCGCTCCT" +
    "GCCGAGACAGCCACCCCAGCGCCGGTGGAGAAATCCCCGGCTAAGAAGAAGGCAACTAAGAAGGCTGCCG" +
    "GCGCCGGCGACCTGCTAAGCGCAAAGCGACGGGGCCCCCAGTCTCAGAGCTGATCACCAAGGCTGTGGCT" +
    "TTCTAAGGAGCGCAATGGCCTTTCTTTGGCAGCCCTTAAGAAGGCCTTAGCGGCCGGTGGCTACGACGTG" +
    "GAGAAGAATAACAGCCGCATTAAGCTGGGCCTCAGTTAGCTGGTGAGCAAGGGCACCCTGGTGCAGACCA" +
    "AGGGCACTGGTGCTTCTGGCTCCTTTAAACTCAACAAGAAGGCGGCCTCCGGGGAAGCCAAGCCCAAAGC" +
    "CAAGAAGGCAGGCGCCGCTAAAGCTAAGAAGCCCGCGGGGGCCACGCCTAAGAAGGCCAAGAAGGCTGCA" +
    "GGGGCGAAAAAGGGAATAGTGAAGAAGACTCCGAAGAAGGCGAAGAAGCCCGCGGCGGCTGGCGTCAAAA" +
    "TGGCGAAGAGCCCTAAGAAGGCCAAGGCCGCTGCCAAACCGAAAAAGGCAACCAAGAGTCCTGCCAAGCC" +
    "CAAGGCAGTTAAGCCGAAGGCGGCAAAGCCCAAAGCCGCTAAGCCCAAAGCAGCAAAACCTAAAGCTGCA" +
    "AAGGCCAAGAAGCCCGGCTGCCAAAAAGAAGTAGGAAGCTGGCGTGTGAAAACCGCAACAAAGCCCCAAG" +
    "GCTCTTTTCAGAGCCACCCA"
)

In [ ]:
# YOUR CODE HERE

In genetic code the sequence "ATG", or "start codon" indicates the start of the encoding of the protein. Use a function from the table to find the index of the start codon.

In [ ]:
# YOUR CODE HERE